
<div class=" flex flex-column align-items-center border-1 border-green mt-8">
    <div pAnimate enterClass="flip" leaveClass="fadeoutleft" class="flex flex-column justify-content-center text-left gap-3 align-items-center h-28rem w-20rem border-round border-white  animation-duration-1000 animation-ease-out">
        <span class="text-900 text-xl text-black font-bold">Live Orders: 3</span>
        <span class="text-900 text-xl text-black font-bold">Monthly Earnings: {{ 520 | currency}}</span>
    </div>
</div>
